@import url("https://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  position: absolute;
  top: 45vh;
  left: 1vw;
  font-size: 3rem;
  font-weight: bolder;
  background: linear-gradient(
    to bottom right,
    rgb(13, 211, 242),
    rgb(255, 180, 192)
  );
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  position: absolute;
  top: 52vh;
  left: 1vw;
  font-size: 1rem;
  font-weight: bolder;
  background: linear-gradient(
    to bottom right,
    rgb(13, 211, 242),
    rgb(255, 180, 192)
  );
  -webkit-background-clip: text;
  color: transparent;
}

#game {
  width: 400px;
  height: 500px;
  border: 3px solid black;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
  position: absolute;
  top: 20vh;
  left: 35vw;
  overflow: hidden;
  background-color: rgba(254, 254, 254, 0.07);
}

#character {
  width: 20px;
  height: 20px;
  background-color: rgb(229, 121, 193);
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  top: 400px;
  left: 190px;
  z-index: 100000;
}

.block {
  width: 400px;
  height: 20px;
  background-color: black;
  position: relative;
  top: 100px;
  margin-top: -20px;
  background: linear-gradient(
    to bottom right,
    rgb(13, 211, 242),
    rgb(255, 180, 192)
  );
  -webkit-background-clip: border-box;
  color: transparent;
}

.hole {
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: 100px;
  margin-top: -20px;
}
